.landingPage-image {
    background-image: url("../../images/ramiro-mendes-237525-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 48%;
    height: 100vh;
    /* padding: 2%; */
}

.landingPage-header {
    font-size: 3em;
    font-weight: 700;
}

.vertical-align {
    padding: 10%;
} 

.txt-sm {
    font-size: 1.3em;
}

@media screen and (min-width: 768px) {
    .txt-sm {
        font-size: 1.3em;
    }
}
  
  @media screen and (min-width: 1023px){ 
    .landingPage-image {
        background-image: url("../../images/ramiro-mendes-237525-unsplash.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 50%;
        height: 100vh;
    }

    .landingPage-header {
        font-size: 4em;
        font-weight: 700;
    }

    .txt-sm {
        font-size: 2em;
    }
  } 