.aboutme {
    padding: 1.5em;
}

.aboutme > .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
}

.aboutme > .grid > .skills-div {
    grid-row: 3 / 4;
}

.aboutme > .grid > .your-face {
    margin: auto;
    grid-row: 2 / 3;
}

.aboutme > .grid > .btn-block {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .aboutme {
        padding: 3em;
    }

    .aboutme > .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }

    .aboutme > .grid > .header-div {
        grid-column: 1 / 4;
    }

    .aboutme > .grid > .skills-div {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        align-self: center;
    }

    .aboutme > .grid > .your-face {
        grid-column: 3 / 4;
    }

    .aboutme > .grid > .contact-div {
        grid-column: 3 / 4;
    }
    
    .aboutme > .grid > .bio-div {
        grid-column: 1 / 3;
    }
}