html, body, body > #root {
    background-color: #333;
    background: linear-gradient(left #333, black);
    background: -o-linear-gradient(left #333, black);
    background: -moz-linear-gradient(left #333, black);
    background: -webkit-linear-gradient(left #333, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: cover; */
    height: 100%;
    width: 100%;
    color: #fff;
}

p {
    font-size: 1.3em;
}