body {
    color: #0a001a;
    background-color: rgb(233, 229, 228);
}

h1, h2, h3 {
    color: #7c7cb6;
}

p {
    font-size: 1.3em;
}

.emphasis-color {
    color: #004a99;
}

.card-padding {
    padding-top: 15%;
    padding-bottom: 10%;
}

@media screen and (min-width: 411px){
    .card-margin {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) { 
    .card-padding {
        padding-top: 10%;
        padding-bottom: 5%;
    }
}


@media screen and (min-width: 990px) and (max-width: 1024px){ 
    .card-padding {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .card-margin {
        margin-top: 5%;
    }
}

@media screen and (min-width: 1064px) {
    .card-margin {
        margin-top: 5%;
    }

    .card-padding {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}
