body {
    background-color: #F5F0F2;
    color: #19192C;
    background-image: url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
    background-size: cover;
}

/* .landing-page_image {
    width: 100%;
} */


