h1, h2, h3 {
    color: #7c7cb6;
}

p {
    font-size: 1.3em;
}

.emphasis-color {
    color: #004a99;
}

.card-margin {
    margin-top: 35%;
    margin-bottom: 35%;
}

@media screen and (min-width: 768px) { 
    .card-margin {
        margin-top: 12%;
        margin-bottom: 15%;
    }
}

@media screen and (min-width: 1064px) {

    .card-margin {
        margin-top: 5%;
        margin-bottom: 0;
    }


}
