.projectsPage {
   padding: .5em;
}

.projects-container > div,
.Project--deployed-section .deployed-card {
   color: #333;
}

.Project--section-header,
.Project--other-header {
   text-align: center;
}

.deployed-card img {
   width: 100%;
}

@media screen and (min-width: 321px) {
   .projectsPage {
      padding: 2em;
   }
   
}